.trash__item {
  padding: 20px 30px;
  height: 220px;
  display: flex;
  box-sizing: border-box;
}


.trash__item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}